name: pepinter_cls
stage: train
log_dir: ./logs/${stage}
seed: 42

is_resume: false
resume_model_path: null
is_check_data_module: false
exit_after_check: true
is_pretrained: true
pretrained_model_path: logs/train/pepinter_energy/20251108/checkpoints/step=561456-val_loss=0.01.ckpt

data_module:
  train_data_path: akasha/pepinter/train_case_pthr.csv
  val_data_path: akasha/pepinter/valid_case_pthr.csv
  batch_size: 24
  num_workers: 8

lightning_module:
  load_from_esmc: false
  model_args:
    num_labels: 1
  learning_rate: 1e-4

trainer:
  _target_: lightning.Trainer
  max_epochs: 5
  log_every_n_steps: 300
  # val_check_interval: 0.05
  check_val_every_n_epoch: 5
  accelerator: "gpu"
  devices: [3]
  strategy: auto
  precision: bf16-mixed
  fast_dev_run: false
  gradient_clip_val: 1.0
  enable_checkpointing: true

  callbacks:
    - _target_: lightning.pytorch.callbacks.ModelCheckpoint
      filename: "{step}-{val_loss:.2f}"
      save_top_k: 1
      monitor: "val_loss"
      mode: "min"
      save_last: false
      save_weights_only: false
    - _target_: lightning.pytorch.callbacks.LearningRateMonitor
      logging_interval: "step"
    - _target_: lightning.pytorch.callbacks.RichProgressBar

  logger:
    _target_: lightning.pytorch.loggers.CSVLogger
    save_dir: ${log_dir}
    name: ${name}

hydra:
  run:
    dir: ${log_dir}/${name}
