name: pepinter
stage: train
log_dir: ./logs/${stage}
seed: 42

is_resume: false
resume_model_path: null
is_check_data_module: false
exit_after_check: true
is_pretrained: false
pretrained_model_path: /home/silong/projects/astra/logs/train/pepinter_mlm/version_0/checkpoints/step=741516-val_loss=0.41.ckpt

data_module:
  train_data_path: "./akasha/pepinter/train.csv"
  val_data_path: "./akasha/pepinter/val.csv"
  batch_size: 24
  num_workers: 8

lightning_module:
  load_from_esmc: true
  model_args:
    num_labels: 1
    problem_type: "single_label_classification"
  learning_rate: 1e-4

trainer:
  _target_: lightning.Trainer
  max_epochs: 100
  log_every_n_steps: 100
  # val_check_interval: 0.05
  check_val_every_n_epoch: 1
  accelerator: "gpu"
  devices: [2]
  strategy: auto
  precision: bf16-mixed
  fast_dev_run: false
  gradient_clip_val: 1.0

  callbacks:
    # - _target_: lightning.pytorch.callbacks.ModelCheckpoint
    #   filename: "{step}-{val_loss:.2f}"
    #   save_top_k: 1
    #   monitor: "val_loss"
    #   mode: "min"
    #   save_last: false
    #   save_weights_only: false
    - _target_: lightning.pytorch.callbacks.EarlyStopping
      monitor: "val_loss"
      patience: 6
      mode: "min"
      min_delta: 0.001
    - _target_: lightning.pytorch.callbacks.LearningRateMonitor
      logging_interval: "step"
    - _target_: lightning.pytorch.callbacks.RichProgressBar

  logger:
    _target_: lightning.pytorch.loggers.CSVLogger
    save_dir: ${log_dir}
    name: ${name}

hydra:
  run:
    dir: ${log_dir}/${name}
